.sass-cache
node_modules/
.jekyll-cache
.firebase
**/.DS_Store
.firebase*
firebase*

Gemfile.lock

venv/
clouddockerbuild.yaml
**/*.pyc
**/__pycache__/**
.vscode
node_modules
dist
**/static/*
**/templates/*

_site