---
title: "Blog"
description: "World's first Mentorship platform at your fingertips.Mentro, brings professional guidance from industry experts working in companies like Google, Microsoft, Amazon, Jio, Flipkart, GoJek, CRED and more at a personalised level for you."
image: "/assets/images/mentro_logo.png"
keywords: 
    - "Mentro"
    - "mentorship"
layout: default
pagination:
    enabled: true
---


<div class="container">
    
{% if page.url == "/" %}
<!-- Begin post excerpts, let's highlight the first 4 posts on top -->
<div class="row remove-site-content-margin">
    
    <!-- latest post -->
    {% assign latest_post = site.posts[0] %}
    {% if latest_post %}
    <div class="col-md-6">
    <div class="card border-0 mb-4 box-shadow">   
    <a href="{{latest_post.url}}">
    <div class="topfirstimage" style="background-image: url({% if latest_post.image contains "://" %}{{ latest_post.image }}{% else %} {{ latest_post.image}}{% endif %}); height: 200px; width: 100% ; background-size: contain;background-repeat: no-repeat;background-position: left;"></div>     
    </a>
    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
    <h2 class="h4 font-weight-bold">
    <a class="text-dark" href="{{latest_post.url}}">{{ latest_post.title }}</a>
    </h2>
    <p class="excerpt">
        {{ latest_post.excerpt | strip_html | strip_newlines | truncate: 126 }}
    </p>
    <div>
        <small class="d-block text-muted">
            <span class="catlist">
                <a class="text-capitalize text-muted smoothscroll" href="/{{ latest_post.category | downcase }}">{{ latest_post.category | downcase }}</a>
            </span>                   
        </small>
        <small class="text-muted">
            {{ latest_post.date | date: '%b %d, %Y' }}
        </small>
    </div>
    </div>
    </div>
    </div>
    {% endif %}
    <div class="col-md-6">
        
        <!-- second latest post -->
        {%- assign second_post = site.posts[1] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if second_post.image %}
                <div class="col-md-4">
                <a href="{{second_post.url}}">
                 <img class="w-100" src="{{ second_post.image}}" alt="{{ second_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{second_post.url}}">{{ second_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        <span class="catlist">
                            <a class="text-capitalize text-muted smoothscroll" href="/{{ second_post.category | downcase }}">{{ second_post.category | downcase }}</a><span class="sep">, </span>
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ second_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
        <!-- third latest post -->
        {%- assign third_post = site.posts[2] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if third_post.image %}
                <div class="col-md-4">
                <a href="{{third_post.url}}">
                 <img class="w-100" src="{{ third_post.image }}" alt="{{ third_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{third_post.url}}">{{ third_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        <span class="catlist">
                            <a class="text-capitalize text-muted smoothscroll" href="/{{ third_post.category | downcase }}">{{ third_post.category | downcase }}</a><span class="sep">, </span>
                        </span>
                    </small>
                    <small class="text-muted">
                        {{ third_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
        <!-- fourth latest post -->
        {%- assign fourth_post = site.posts[3] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if fourth_post.image %}
                <div class="col-md-4">
                <a href="{{fourth_post.url}}">
                <img class="w-100" src="{{ fourth_post.image }}" alt="{{ fourth_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{fourth_post.url}}">{{ fourth_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        <span class="catlist">
                            <a class="text-capitalize text-muted smoothscroll" href="/{{ fourth_post.category | downcase }}">{{ fourth_post.category | downcase }}</a><span class="sep">, </span>
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ fourth_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
    </div>
</div>
    
<!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->
{% assign categories = site.pages | where: "layout", "category" %}
{% for post in categories %}  
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative ">
    <a href="{{post.url}}">
        <div class="pl-4 pr-0 h-100 tofront">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                    <h1 class="mb-3">{{post.title}}</h1>
                    <p class="mb-3 lead">
                        {{ post.description }}
                    </p>
                    <div href="{{post.url}}" class="btn btn-outline-success">Read More</div>
                </div>
                <div class="col-md-6 pr-lg-6 d-none d-md-block pr-0 rounded" style="background-image:url({{ post.image }}); background-size: contain;background-repeat: no-repeat;background-position: center;">	
                </div>
            </div>
        </div>
    </a>
</div> 
{% endfor %}


    


{% endif %} <!--endif page url is / -->
    

</div>